# US01 Total Bill Calculation

# 1) Taxes for each state

## 1.1 Raw data from wikipedia

In [37]:
rawtaxes= '''
Alabama	4%	13.5%						
Alaska	0%	7%						
Arizona	5.6%	10.725%						
Arkansas	6.5%	11.625%	1.5%+					
California	7.25%	10.25%						
Colorado	2.9%	10%						
Connecticut	6.35%	6.35%						1%
Delaware	0%	0%						
District of Columbia	5.75%	5.75%		10%				
Florida	6%	7.5%		9% (max)				
Georgia	4%	8%	4% (max)[40]					
Guam	4%	4%					
Hawaii	4.166%	4.712%						
Idaho	6%	8.5%			[41]			
Illinois	6.25%	10.25%	1%+	8.25%+	1%+	1%+		
Indiana	7%	7%		9% (max)				
Iowa[42]	6%	7%						
Kansas	6.5%	10.15%						
Kentucky	6%	6%						
Louisiana	5%	12%	7.0% (max)					
Maine	5.5%	5.5%		8%				
Maryland	6%	6%						
Massachusetts	6.25%	6.25%		7% (max)			> $175	
Michigan	6%	6%						
Minnesota	6.875%	7.875%		10.775% (max)				
Mississippi	7%	7.25%						
Missouri	4.225%	10.85%	1.225%					
Montana	0%	0%						
Nebraska	5.5%	7.5%		9.5% 
(Omaha)				
Nevada	6.85%	8.25%						
New Hampshire	0%	0%		9%				
New Jersey	6.625%	12.875%						
New Mexico	5.125%	8.688%						
New York	4%	8.875%					> $110	
North Carolina	4.75%	7.50%	2%	8.50% (max)				
North Dakota [43]	5%	8%						
Ohio[44]	5.75%	8%		Dine-in				
Oklahoma	4.5%	11%						
Oregon	0%	0%						
Pennsylvania	6%	8%						
Puerto Rico	10.5%	11.5%	1%				
Rhode Island	7%	7%		8%				
South Carolina	6%	9%		10.5%				
South Dakota	4%	6%						
Tennessee	7%	9.75%	4%+					
Texas	6.25%	8.25%						
Utah	5.95%	8.35%	3%					
Vermont	6%	7%		9%+			> $110	
Virginia	5.3%	6%	2.5%	5.3%+				
Washington	6.5%	10.4%		10% (max)				
West Virginia	6%	7%						
Wisconsin	5%	6.75%						
Wyoming	4%	6%						
'''

## 1.2 Cleaning the Data

In [39]:
taxes = {}

for line in rawtaxes.split('\n'):
    if len(line) < 2:
        continue 
    if 'Omaha' in line : 
        continue
  
    
    state = line.split('\t')[0].split('[')[0].lower()

    tax = float(line.split('\t')[1][:-1])/100
    
    taxes[state]= tax
    
taxes

{'alabama': 0.04,
 'alaska': 0.0,
 'arizona': 0.055999999999999994,
 'arkansas': 0.065,
 'california': 0.0725,
 'colorado': 0.028999999999999998,
 'connecticut': 0.0635,
 'delaware': 0.0,
 'district of columbia': 0.0575,
 'florida': 0.06,
 'georgia': 0.04,
 'guam': 0.04,
 'hawaii': 0.04166,
 'idaho': 0.06,
 'illinois': 0.0625,
 'indiana': 0.07,
 'iowa': 0.06,
 'kansas': 0.065,
 'kentucky': 0.06,
 'louisiana': 0.05,
 'maine': 0.055,
 'maryland': 0.06,
 'massachusetts': 0.0625,
 'michigan': 0.06,
 'minnesota': 0.06875,
 'mississippi': 0.07,
 'missouri': 0.042249999999999996,
 'montana': 0.0,
 'nebraska': 0.055,
 'nevada': 0.06849999999999999,
 'new hampshire': 0.0,
 'new jersey': 0.06625,
 'new mexico': 0.05125,
 'new york': 0.04,
 'north carolina': 0.0475,
 'north dakota ': 0.05,
 'ohio': 0.0575,
 'oklahoma': 0.045,
 'oregon': 0.0,
 'pennsylvania': 0.06,
 'puerto rico': 0.105,
 'rhode island': 0.07,
 'south carolina': 0.06,
 'south dakota': 0.04,
 'tennessee': 0.07,
 'texas': 0.0625,
 'utah': 0.059500000000000004,
 'vermont': 0.06,
 'virginia': 0.053,
 'washington': 0.065,
 'west virginia': 0.06,
 'wisconsin': 0.05,
 'wyoming': 0.04}

# 2 Bill and Tip choice

In [28]:
people= 4
tip= 'i think it was pretty Good, and compliment au chef'
State= 'New York'
bill=30
tax=0.06 
tips = {'bad':0.1, 'average':0.18, 'good':0.2}

## 2.1 Bill clearing

## 2.2 Tips choice

### methode 1

In [29]:
import re

finaltip = 'average'
for word in tip.lower().split():
    print(word)
    if not word.isalnum():
        m = re.search(r"\w+",word)
        word= m.group(0)
        
    if word in tips.keys():
        finaltip = tips[word]
        break
        
print('we found it',word,'the value is',tips[word])
print('tip is',finaltip)

i
think
it
was
pretty
good,
we found it good the value is 0.2
tip is 0.2

### choix tips methode 2

In [33]:
finaltip = 'average'

for k in tips.keys():
    if k in tip.lower():
        finaltip=tips[k]
        break
       
print('tip is',finaltip)

tip is 0.2

# Total price

In [31]:
try:   
    total_pre_tax = bill * finaltip
except KeyError:
    print('the tip is ill written')

total_with_tax = bill * taxes[state.lower()]

total = total_pre_tax + total_with_tax + bill
total
print('price for',people,'people is',total,)

price for 4 people is 37.2

In [6]:
print('price per person is',total/people)

price per person is 9.45